* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style-type: none;
}

/* **************** */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 80%;
  margin: 0 auto;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 20px auto;

  height: 50px;
}

header img {
  object-fit: cover;
}

header button {
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.sub_button {
  margin-left: 15px;

  background-color: rgb(255, 217, 0);
  padding: 10px;
  border-radius: 5px;
}

/* HR ET NAV */

hr {
  border: 1px solid black;

  margin-bottom: 8px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 50px;
}

nav button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

/* ARTICLE */

article {
  display: flex;
  justify-content: space-between;
}

/* LEFT */

.left {
  width: 60%;
}

.left h1 {
  margin-bottom: 20px;
}

.left img {
  width: 100%;
  height: 300px;

  object-fit: cover;
  border-radius: 8px;
}

.left p {
  margin: 10px 0;
}

.left_para {
  display: flex;
  gap: 3%;

  font-weight: 700;
}

/* RIGHT */

.right {
  width: 25%;
}

.right img {
  width: 100%;

  object-fit: cover;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.right p {
  padding: 20px;
  text-align: center;
}
.right h2 {
  text-align: center;

  color: gray;
  font-size: 20px;
  font-weight: 100;

  padding: 10px;
}

.right_text {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
